.calendar-day {
    height: 100px;
    border: 1px solid #ddd;
    padding: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-weight: bold;
    width: calc(100% / 7);
}

.calendar-day.has-event {
    background-color: #ffe6e6;
    border: 2px solid #800000;
}

.calendar-header,
.event-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-type-BasicED {
    color: #007bff;
}

.event-type-College {
    color: #28a745;
}

.event-list-item {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 1.5rem;
    font-size: 1.2rem;
}

.event-list-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.event-date {
    font-size: 1.5rem;
    font-weight: bold;
}

.event-month {
    font-size: 0.85rem;
    text-transform: uppercase;
}

#calendarSection {
    background-color: #f8f9fa;
    padding: 1rem;
    border-radius: 10px;
}

.day-label {
    height: 30px;
    font-size: 0.9rem;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

#eventList.list-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 515px;
    overflow-y: auto;
}