/*-------------------- Main Layout --------------------*/
main {
    min-height: 100vh;
}

/*-------------------- Intro Section --------------------*/
.intro {
    max-width: 100%;
    min-height: 86vh;
    overflow: hidden;
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
}

.video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
    object-fit: cover;
    opacity: .8;
}

/* .intro .overlay {
    background:  rgba(0, 0, 0, 0.158) 59%;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    pointer-events: none;
    /* Allows clicks to pass through 
} */

/* .intro .overlay2 {
    background-image: linear-gradient(90deg, rgba(var(--dark-color), 0.5) 0%, rgba(128, 0, 0, 0.05) 59%);
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    pointer-events: none;
    /* Allows clicks to pass through 
} */

.introtxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 10%;
    top: 50%;
    width: 27%;
    transform: translateY(-60%);
}

.introtxt h3 {
    color: rgba(var(--secondary-color), 1);
    font-size: 20px;
    margin-left: 5px;
    text-align: left;
    font-family: "Poppins", sans-serif;
    line-height: 25px;
    /* text-shadow: var(--shadow-dark); */
}

.introtxt h1 {
    color: rgba(var(--primary-color), 1);
    font-size: 140px;
    line-height: 98px;
    font-weight: 1000;
    margin-bottom: 10px;
    font-family: "Ancizar Sans", sans-serif;
    text-align: left;
}

.introtxt p {
    color: rgba(var(--secondary-color));
    font-size: 17px;
    text-align: left;
    margin-left: 3px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Poppins", sans-serif;
    /* text-shadow: var(--shadow-dark); */
    width: 30vw;
}

.introtxt .button1 a {
    background: rgba(var(--primary-color), 1);
    color: rgba(var(--secondary-color));
    padding: 0.75rem 1.5rem;
    border-radius: 20px;
    font-weight: 600;
    line-height: 70px;
    text-decoration: none;
    transition: var(--transition);
}

.introtxt .button1 a:hover {
    background-color: rgba(var(--secondary-color));
    color: rgba(var(--primary-color), 1);
    font-size: 20px;
}



/*-------------------- SVG Transitions --------------------*/
.custom-shape-divider-bottom-1750301863,
.custom-shape-divider-top-1750324223 {
    position: absolute;
    width: 100%;
    line-height: 0;
    overflow: hidden;
}

.custom-shape-divider-bottom-1750301863 {
    bottom: 0;
}

.custom-shape-divider-bottom-1750301863 svg {
    display: block;
    width: calc(150% + 1.3px);
    height: 50px;
}

.custom-shape-divider-bottom-1750301863 .shape-fill {
    fill: rgba(var(--primary-color));
}

.custom-shape-divider-top-1750324223 {
    top: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1750324223 svg {
    display: block;
    width: calc(135% + 1.3px);
    height: 12px;
}

.custom-shape-divider-top-1750324223 .shape-fill {
    fill: rgba(var(--primary-color));
}

/*-------------------- Slider --------------------*/
.slider {
    margin: auto;
    min-width: 100%;
    overflow: hidden;
    position: relative;
}

.fade img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    vertical-align: middle;
}

.count {
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
}

.prev,
.next {
    position: absolute;
    top: 40%;
    padding: 50px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    transition: var(--transition);
    color: #666;
}

.prev {
    border-radius: 0 3px 3px 0;
    left: 0;
}

.next {
    border-radius: 3px 0 0 3px;
    right: 0;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--secondary-color);
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 4px;
    background-color: rgba(41, 41, 41, 0.39);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color var(--transition);
}

.active,
.dot:hover {
    background-color: var(--highlight-color);
}

.fade {
    display: none;
    line-height: 300px;
    animation: fade 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

/*-------------------- Explore Section --------------------*/
.explore {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    gap: 20px;
    position: relative;
}

.explore .overlay1 {
    background-color: rgba(0 0 0 / 52%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.explore .overlay2 {
    background-color: rgba(125 10 10 / 73%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.explore { 
    background-image: url('/assets/img/Home/Background-imgs/BG1.png'), linear-gradient(rgba(var(--secondary-color),0.5));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

}


.columnExplore {
    flex-direction: column;
    gap: 40px;
    display: flex;
    z-index: 1;
}

.WrapperExplore {
    display: flex;
    justify-content: center;
    gap: 10%;
    flex-wrap: wrap;
    padding: 3px 3px 6rem;
}

.txtexplore {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
}

.txtexplore p {
    font-size: 20px;
    color: rgba(var(--secondary-color));
}

.txtexplore h1 {
    color: rgba(var(--highlight-color));
}

.Excontainer {
    width: 24vw;
    height: 40rem;
    background-color: rgba(var(--secondary-color), 1);
    transition: 0.5s ease-out;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}

.Excontainer:hover {
    box-shadow: 10px 10px 0px 0px rgba(var(--highlight-color), 0.75);
    -webkit-box-shadow: 10px 10px 0px 0px rgba(var(--highlight-color), 0.75);
    -moz-box-shadow: 10px 10px 0px 0px rgba(var(--highlight-color), 0.75);
}

.imgcontainer {
    overflow: hidden;
    height: 43%;
    position: relative;
}

.imgcontainer img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-20%, -10%);
    width: 640px;
}

.txtExContainer {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
    text-align: center;
    padding: 5%;
    color: rgba(var(--primary-color));
}

.txtExContainer p {
    color: black;
}

/*----------------College Dep.----------------*/
.watermark {
    background: url('/assets/img/logo/Logo.png') center no-repeat fixed;
    opacity: .2;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
.bgoverview {
    overflow: hidden;
    height: 32vh;
    position: relative;
}

.bgoverview .overlay1 {
    background:  rgb(27 8 8 / 68%);
    width: 100%;
    height: 100%;
}

.bgimgC1 {
    background: url('/assets/img/backgrounds/bg1.JPG') no-repeat 50% 24%/110rem;
    height: 100%;
    z-index: -1;
    position: sticky;
    opacity: .7;
}

.bgimgAd1 {
    background: rgba(var(--primary-color), 1);
    height: 100%;
    z-index: -1;
    position: sticky;
}

.txtholder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #eee;

}

.txtholder h1 {
    font-size: 2rem;
    line-height: .85;
    margin-bottom: 20px;
}

.txtholder p {
    line-height: 1.2;
    padding: 5px;
}

.Admission .txtholder {
    transform: translate(-80%, -50%);
}